@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
* Links (anchor tags) should be blue when appearing in a table
* Can easily be overridden by using tailwind in class
*/

td a {
--tw-text-opacity: 1;
color: rgba(29, 78, 216, var(--tw-text-opacity));
}

td a:hover {
    --tw-text-opacity: 1;
    color: rgba(30, 58, 138, var(--tw-text-opacity));
}
